<%= content_tag(:div, class: "#{span}#{offset}") do %>
    <%= content_tag(:div, class: "box #{color}#{klass}") do %>
        <div class="tab-header">
          <%= title %>
          <div class="pull-right tab-header-right">
            <% links.each do |my_link| %>
                <div class="space-right actions">
                  <%= link_to(my_link[0], my_link[1], {class: 'ml5'}.merge(my_link[2] || {})) %>
                </div>
            <% end %>
          </div>
        </div>
        <%= content_tag(:div, class: "box-content padded#{padding}") do %>
            <%= my_block %>
        <% end %>
    <% end %>
<% end %>